<div class="card card-primary">
  <!-- Card Header: always visible -->
  <div class="card-header">
    <div>#{{project.projectID}}</div>
    <h5>{{project.projectName}}</h5>
    <!-- Add a toggle button in the header to minimize/maximize details -->
    <button (click)="toggleDetails()" class="btn btn-link">
      {{ hideDetails ? 'Show Details' : 'Hide Details' }}
    </button>
  </div>
  
  <!-- Card Body: only visible when hideDetails is false -->
  <div *ngIf="!hideDetails" class="card-body">
    <table class="table table-borderless">
      <tr>
        <th>Date of Start</th>
        <td>{{project.dateOfStart}}</td>
      </tr>
      <tr>
        <th>Team Size</th>
        <td>{{project.teamSize}}</td>
      </tr>
      <tr>
        <th>Client Location</th>
        <td>{{project.clientLocation?.clientLocationName}}</td>
      </tr>
      <tr>
        <th>Status</th>
        <td>{{project.status}}</td>
      </tr>
    </table>
  </div>

  <!-- Card Footer: only visible when hideDetails is false -->
  <div *ngIf="!hideDetails" class="card-footer">
    <button class="btn btn-info" (click)="onEditClick($event, i)" data-toggle="modal" data-target="#editModal">Edit</button>&nbsp;
    <button class="btn btn-warning" (click)="onDeleteClick($event, i)" data-toggle="modal" data-target="#deleteModal">Delete</button>
  </div>
</div>
